{% load static %}
<head>
  <title>Contact ManagementSystem</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
    crossorigin="anonymous"
  />

  <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}" />
</head>

<style>
  .activelink {
    background-color: red;
    border-radius: 15px;
  }
</style>
<nav class="navbar navbar-expand-sm navbar-dark bg-custom">
  <a class="navbar-brand" href="{% url 'index' %}">
    Contact ManagementSystem
  </a>

  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#abc"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link" style="color: white"
          ><i class="fas fa-home">&nbsp;</i>Home</a
        >
      </li>

      <li class="nav-item">
        <a href="{% url 'login' %}" class="nav-link" style="color: white"
          ><i class="fas fa-sign-in-alt"></i> Admin Login</a
        >
      </li>
    </ul>
  </div>
</nav>
